<section id="basic_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="../img/header_flower.webp" style="width: 50%; height: 50%" />
                <h2 class="section-heading">Základní informace</h2>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <p>V sobotu prvního července roku 2023 si Verča Vodičková a Petr Bezoušek řeknou svoje "Ano".</p>
                <p>Svatební obřad i následná hostina bude probíhat v areálu restaurace Na Horách v České Třebové.</p>
                <p>Termín a místo si dobře poznamenejte, bližší informace doplníme později. :)</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <iframe style="border:none" src="https://frame.mapy.cz/s/hudaheveke" width="340" height="240" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>