<section id="couple" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ženich a nevěsta</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/PV_2.webp">
            </div>
            <div class="col-md-4">
                <img src="/img/PV_1.webp">
            </div>
            <div class="col-md-4">
                <img src="/img/PV_3.webp">
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a
                href="https://www.freepik.com/free-vector/watercolor-blue-floral-arrangement-collection_23217611.htm#query=flower%20wedding&position=3&from_view=search">
                Image
                by asrulaqroni</a> on Freepik
            </div>
            <div class="col-md-4">
                Site design based on <a href="https://startbootstrap.com/theme/agency">Agency</a> from Start Bootstrap
            </div>
            <div class="col-md-4">
                Icons from <a href="https://icons8.com">icons8.com</a>
            </div>
        </div>
    </div>
</footer>