    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Doprava &amp; ubytování</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Jak se dostat</h4>
                        <p>Lorem ipsum</p>
                        <h4>Ubytování</h4>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/placekitten.jpg">
                </div>
            </div>
        </div>
    </section>