<section id="program">
    <div class="container">
        <div class="row col-lg-12 text-center">
            <img src="../img/header_flower.webp" style="width: 50%; height: 50%" />
            <h2 class="section-heading">Program dne</h2>
            <h3 class="section-subheading text-muted">Jak to celé proběhne</h3>
        </div>

        <div class="row text-center">
            <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <h3 class="service-heading">Ráno u nevěsty</h3>
                <h4>cca 9:00</h4>
                <p>
                    Sejdeme se ráno v Dlouhé Třebové.<br>
                    Zaparkujte si auto na placi vedle domu (případně u kostela), očekáváme asi 20 aut, na všechny bude místo.<br>
                    Máme připravené ozdoby na auta, klopy a drobné občerstvení.<br>
                    Ženich si sem přijede "najít" nevěstu.<br>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <iframe style="border:none" src="https://en.frame.mapy.cz/s/pabolavoza" width="100%" height="330" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-5 col-lg-4 col-md-push-6">
                <h3 class="service-heading">Odjezd na obřad</h3>
                <h4>cca 10:00</h4>
                <p>
                    Společně odjedeme v koloně s ženichem v čele a nevěstou v závěsu na Hory.<br>
                    Není nás málo a po cestě jsou 2 semafory, tak se může stát, že neudržíme "vláček" celou dobu.<br>
                    Hned u restaurace najdete parkoviště.<br>
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-md-pull-5 col-lg-pull-4">
                <iframe style="border:none" src="https://frame.mapy.cz/s/gobuzubavu" width="100%" height="330" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <h3 class="service-heading">Obřad</h3>
                <h4>cca 11:00</h4>
                <p>
                    Obřad zažijete na poli hned vedle restaurace Na Horách.<br>
                    Sejde se nás takřka 70, budeme mít zajištené i místa na sezení.<br>
                    Po dokončení obřadu proběhne focení, ať na vás máme památku.<br>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <iframe style="border:none" src="https://frame.mapy.cz/s/pefoleroto" width="100%" height="330" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-5 col-lg-4 col-md-push-6">
                <h3 class="service-heading">Oběd, tanec, zábava</h3>
                <h4>Od 12:00</h4>
                <p>
                    Čeká vás výborný oběd, dort, zábava a hudba.<br>
                    Máme k dispozici 2 řidiče.<br>
                    Budete-li si chtít odvézt auto po obědě domů, pomůžou vám se svozem zpět.<br>
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 text-center col-md-pull-5 col-lg-pull-4">
                <iframe style="border:none" src="https://frame.mapy.cz/s/legonunusa" width="100%" height="330" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>